@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lora', serif;
    height: 0;
    background: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.header {
    display: block;
    justify-content: center;
    width: 100%;
    text-align: center
}
img, #logo {
    transition: none;
    transform: none;
    margin-top: 1%;
    filter: grayscale(0%);
    display: block;
    width: 4%;
    margin-left: 48.5%;
}
.headline h1 {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2em;
}
/*Close-x i projekter*/
.close {
    position: fixed;
    margin-left: 91.5%;
    margin-top: 1%;
    display: block;
    top: 0;
    width: 20%;
    height: 12%;
    color: white;
    opacity: 0.5;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #FFFFFF;
}
.close:before {
    transform: rotate(45deg);
    margin-left: 20%;
    margin-top: 10%;
}
.close:after {
    transform: rotate(-45deg);
    margin-left: 20%;
    margin-top: 10%;
}
/*Individulal projects*/


.img-process {
    display: block;
    float: left;
    width: 60%;
    margin-left: -25%;
    margin-top: 3%;
}
.collage-proces {
    width: 50%;
    margin-left: 50%;
    box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.30);
    margin-bottom: 5%;
}
.portfolio-proces, .flowchart-img, .wireframe-img, .sweetbot-styleguide, .coding-img {
    width: 50%;
    margin-left: 50%;
    box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.40);
    margin-bottom: 5%;
}
.xd-img, .app-proces, .sweetbot-proces, .app-tablet, .wireframe, .portfolio-styletile, .portfolio-mockup {
    width: 50%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.40);
    margin-left: 50%;
}
.portfolio-img {
    width: 50%;
    border: 1px solid white;
    margin-bottom: 10%;
    margin-left: 50%;
    box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.40);
}
.portfolio-sitemap {
    background: white;
    width: 50%;
    margin-bottom: 5%;
    margin-left: 50%;
    box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.40);
}
.documentation {
    width: 29%;
    margin-right: 6.5%;
    margin-top: 2.5%;
    margin-bottom: 3%;
    float: right;
    text-align: left;
}
article {
    color: black;
    border: 1px solid white;
    background: rgba(255,255,255,1);
    text-align: left;
    margin-bottom: 8%;
    margin-top: 3%;
    box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.60);
}
p, a {
    color: white;
    margin-bottom: 5%;
    text-align: left;
    line-height: 1.4;
}
a {
    text-underline-position: below;
    text-decoration: underline #A4806F;
}
.links:hover {
    color: #A4806F;
}
/*About me*/

#portrait {
    position: absolute;
    margin-left: 6%;
    top:23.5%;
    width: 35%;
    height: auto;
    z-index: -1;
}

.cv-timeline {
    display: inline-flex;
    margin-left: 8%;
    margin-right: 6%;
    width: 85%;
    height: auto;
    margin-bottom: 8%;
	
}
#aboutme {
    width: 30%;
    float: right;
    text-align: left;
    margin-right: 8%;
    margin-top: 0.4%;
    display: block;
}
#aboutme h2 {
    color: white;
    text-align: left;
    margin-bottom: 2%;
}
#scroll {
    margin-top: 38%;
    width: 100%;
  
}

/*Menu navigation button*/

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
/*rund menu knap størrelse og placering på skærmen*/
label .menu {
    position: fixed;
    right: 46.75%;
    top: 82.5%;
    z-index: 100;
    width: 5.5%;
    height: 10%;
    background: rgba(255,255,255,1);
    border-radius: 50% 50% 50% 50%;
    transition: .4s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
}
/*placering af selve burgermenu i midten*/
label .hamburger {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
    transition: .3s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}
/*placering af stregerne i burgermenu*/
label .hamburger:before {
    top: -10px;
}
label .hamburger:after {
    bottom: -10px;
}
label input, ul {
    display: none;
}
label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /*100 vh og 100vw gør at den hvide baggrund fylder hele skærmen ud*/
    border-radius: 0;
}
/*hvor langt krydset drejer om sig selv indtil, 'luk' tilstand*/
label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}
label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}
/*menu teksten*/
label input:checked + .menu + ul {
    opacity: 0.9;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    list-style: none;
    text-align: center;
    margin-top: -2%;
    display: block;
}
/*menuteksten lige når der trykkes på 'luk'*/
label ul {
    z-index: 200;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    list-style: none;
    transition: .25s 0s ease-in-out;
}
/*selve menu-tekst, farve osv*/
label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}
label a:hover {
    text-decoration: underline #917162;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    -ms-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
/*Footer*/

    
#footer {
    position: absolute;
    bottom: 1%;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}

@media screen and (max-width: 1300px) {
label .menu {
    height: 10%;
}
#scroll {
    display: none;
}
#aboutme {
    font-size: 1em;
}
.cv-timeline {
    margin-top: 10%;
}
#portrait {
    margin-top: 0.5%;
}
}

@media screen and (max-width: 1150px) {
label .menu {
    height: 9%;
    width: 7%;
    right: 46%;
}

#footer {
    display: none;
}

}

@media screen and (max-width: 1000px) {
label .menu {
    height: 9%;
    width: 7%
}

#portrait {
    margin-top: 1.5%;
}
}

@media screen and (max-width: 900px) {
label .menu {
    height: 9%;
    width: 8%
}

}

@media screen and (max-width: 800px) {
label .menu {
    height: 7%;
    width: 9%;
    right: 46%;
}

.close {
    margin-left: 87.5%;
}
}
#portrait {
    margin-top: 2.5%;
}
#aboutme {
    margin-top: 5.5%;
}

@media screen and (max-width: 600px) {
label .menu {
    height: 9%;
    width: 11%;
    right: 45%;
}
.linkedin {
    margin-left: 53.5%;
}


#aboutme {
    font-size: 0.75em;
}
}

@media screen and (max-width: 500px) {
label .menu {
    height: 7%;
    width: 13%;
    right: 44.2%;
}
label input:checked + .menu + ul {
    font-size: 1.7em;
   margin-left: 1%;
	
}

#portrait {
    width: 50%;
    margin-left: 25%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#aboutme {
    width: 75%;
    margin-top: 60%;
}
#aboutme p {
    text-align: center;
    margin-left: -9%;
}
#aboutme h2 {
    width: 100%;
    margin-left: -7%;
    text-align: center;
}
.cv-timeline {
    margin-left: 10.5%;
    width: 80%;
}
.img-process {
    width: 100%;
	align-content: center;
	
}
.documentation {
    width: 80%;
    text-align: center;
	margin-left: 5%;
}
article {
    width: 80%;
    margin-left: 5%;
    text-align: center;
}
p, a {
    text-align: center;
	margin-left:-8.5%;
}
}



@media screen and (max-width: 400px) {
label .menu {
    height: 9%;
    width: 17%;
    right: 41%;
}
label input:checked + .menu + ul {
    font-size: 1.4em;
    margin-left: -5%;
}

}
 @media screen and (max-width: 375px) {
.linkedin {
    margin-left: 52.5%;
}
label .menu {
    height: 9%;
    width: 17%;
    right: 41%;
    margin-top: 5%;
	 }
	 label input:checked + .menu + ul {
		 margin-left: 2%;
	 }
}
 @media screen and (max-width: 300px) {
label .menu {
 height: 9%;
 width: 22%;
 right: 40%;
}
 label input:checked + .menu + ul {
 font-size:1em;
 margin-left: -8%;
}

}
 @media screen and (max-width: 200px) {
label .menu {
 height: 10%;
 width: 25%;
 right: 39%
}
}
