@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lora', serif;
    height: 0;
    background: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.header {
    display: block;
    justify-content: center;
    width: 100%;
    text-align: center
}
img, #logo {
    transition: none;
    transform: none;
    margin-top: 1%;
    filter: grayscale(0%);
    display: block;
    width: 4%;
    margin-left: 48.5%;
}
.headline h1 {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2em;
}
/*Close-x i projekter*/
.close {
    position: fixed;
    margin-left: 91.5%;
    margin-top: 1%;
    display: block;
    top: 0;
    width: 20%;
    height: 12%;
    color: white;
    opacity: 0.5;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #FFFFFF;
}
.close:before {
    transform: rotate(45deg);
    margin-left: 20%;
    margin-top: 10%;
}
.close:after {
    transform: rotate(-45deg);
    margin-left: 20%;
    margin-top: 10%;
}
/*Contact form*/

.contact-info {
    text-align: center;
    width: 100%;
    height: 200px;
    display: flex;
	flex-direction: column;
margin-top: 4%;
}
#animated-name {
    align-items: center;
    margin-top: -2%;
    width: 65%;
    height: 200px;
    margin-left: 18%;
}
.contact-info h3 {
    line-height: 1.7;
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-family: Lora;
    text-transform: none;
}
.contact-info h2 {
    line-height: 1.5;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2.5%;
}
.linkedin {
    width: 4%;
    height: auto;
    text-align: center;
    margin-top: 1.75%;
	margin-left: 48.3%;
   
}
a, .tlf {
    text-decoration: none;
    color: white;
}

a:hover {
	color: #A4806F;}
/*Menu navigation button*/

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
/*rund menu knap størrelse og placering på skærmen*/
label .menu {
    position: fixed;
   right: 47%;
    top: 82.5%;
    z-index: 100;
    width: 5.5%;
    height: 10%;
    background: rgba(255,255,255,1);
    border-radius: 50% 50% 50% 50%;
    transition: .4s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;

	align-items: center;
}
/*placering af selve burgermenu i midten*/
label .hamburger {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
    transition: .3s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}
/*placering af stregerne i burgermenu*/
label .hamburger:before {
    top: -10px;
}
label .hamburger:after {
    bottom: -10px;
}
label input, ul {
    display: none;
}
label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /*100 vh og 100vw gør at den hvide baggrund fylder hele skærmen ud*/
    border-radius: 0;
}
/*hvor langt krydset drejer om sig selv indtil, 'luk' tilstand*/
label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}
label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}
/*menu teksten*/
label input:checked + .menu + ul {
    opacity: 4;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    list-style: none;
    text-align: center;
    margin-top: -2%;
    display: block;
}
/*menuteksten lige når der trykkes på 'luk'*/
label ul {
    z-index: 200;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    list-style: none;
    transition: .25s 0s ease-in-out;
}
/*selve menu-tekst, farve osv*/
label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}
label a:hover {
    text-decoration: underline #917162;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    -ms-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
/*Footer*/

    
#footer {
    position: absolute;
    bottom: 1%;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}

@media screen and (max-width: 1300px) {
label .menu {
    height: 10%;
}
#scroll {
    display: none;
}

}

@media screen and (max-width: 1150px) {
label .menu {
    height: 9%;
    width: 7%;
    right: 46%;
}
#footer {
    display: none;
}
}

@media screen and (max-width: 1000px) {
label .menu {
    height: 9%;
    width: 7%
}
}

@media screen and (max-width: 900px) {
label .menu {
    height: 9%;
    width: 8%
}
}

@media screen and (max-width: 800px) {
label .menu {
    height: 7%;
    width: 9%;
    right: 45.75%;
}
.close {
    margin-left: 87.5%;
}
#animated-name {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
}
	.contact-info{
		margin-top:10%;
	}
	
	.linkedin{
		width:6%;
		margin-left:47.3%;
	}
}

@media screen and (max-width: 600px) {
label .menu {
    height: 9%;
    width: 11%;
    right: 45%;
}
	
	.contact-info{
		margin-top:15%;
	}
	.contact-info h3 {
    font-size: 1.1em;

  
}
.contact-info h2 {
    font-size: 1.3em;
 
}
	
	.linkedin{
		width:7%;
		margin-left:46.5%;
	}
}

@media screen and (max-width: 500px) {
label .menu {
    height: 7%;
    width: 13%;
    right: 43.75%;
}
label input:checked + .menu + ul {
    font-size: 1.7em;
    margin-left: -0.2%;
}
	
	.contact-info{
		margin-top:20%;
	}
.linkedin{
		width:8%;
		margin-left:46.5%;
	}
}

@media screen and (max-width: 400px) {
label .menu {
    height: 9%;
    width: 17%;
    right: 41%;
}
label input:checked + .menu + ul {
    font-size: 1.4em;
    margin-left: -5%;
}
	
	.contact-info{
		margin-top:25%;}
	
	.contact-info h3 {
    font-size: 1em;

  
}
.contact-info h2 {
    font-size: 1.2em;
 
}
}

@media screen and (max-width: 375px) {
label .menu {
    height: 9%;
    width: 17%;
    right: 41%;
    margin-top: 5%;
}
	
	.contact-info{
		margin-top:35%;
}

@media screen and (max-width: 300px) {
label .menu {
    height: 9%;
    width: 22%;
    right: 40%;
}
label input:checked + .menu + ul {
    font-size: 1em;
    margin-left: -8%;
}
}

@media screen and (max-width: 200px) {
label .menu {
    height: 10%;
    width: 25%;
    right: 39%;
}
}
