@charset "UTF-8";
/* CSS Document */
* {
margin: 0;
padding: 0;
}

body {
    font-family: 'Lora', serif;
    height: 0;
	background:black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
	 font-weight: 100;
 	text-transform: uppercase;
}



header, img {
   
    width: 5%;
    align-content: center;
    margin-left: 47.5%;
    margin-top: 1%;
}


.headline h1{
	width:100%;
	color:white;
    text-align: center;
 
    margin-top: 3%;
	margin-bottom: 3%;
	font-size:2em;
}





/*Individulal projects*/

.img-process{
	display:block;
	float:left;
	margin-left: -25%;
	width:60%;
	height:auto;
	


}
.collage-proces{
	width:50%;
	box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.70);
	
}

.portfolio-proces,  .flowchart-img, .wireframe-img, .sweetbot-styleguide,.coding-img{
	width:40%;
	
	margin-left:53%;
	box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.70);
	

}

 .xd-img, .app-proces, .sweetbot-proces, .app-tablet{
	width:50%;
	margin-bottom: 10%;
	 box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.70);
	
}

.app-tablet{
	margin-top:-7%;
}

.portfolio-img{
	width:50%;
	border:1px solid white;
	margin-bottom: 10%;
	box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.70);
}
.documentation{
	width:22%;
	margin-right: 10%;
	float:right;
	text-align: center;
	
}

article {
	color: black;
	border:1px solid white;
	background: white;
    text-align: center;
	margin-bottom: 8%;
	margin-top:5%;
	box-shadow: 0px 4px 8px 0 rgba(134,134,135,0.70);
}


	
p, a{
	color: white;
	margin-bottom:5%;
    text-align: center;
	line-height: 1.4;
		
}

a{
	text-underline-position: below;
}



/*About me*/

.cv-timeline{
	margin-top:3%;
    margin-left: 60%;
    width:125%;
	height:auto;
	
}





/*Contact form*/

.font {
  font-size: 18px;
  font-family:'Lora', serif;


}
.form {
  text-align: center; 
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.shadow{
  opacity: 0.5;
  border-radius: 100px;
  width: 45%; 
  margin: 40px auto 0 auto;
  padding: 0 10px;  
  
}
.field-in {
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.name, .email, .message {
  background-color: #ACACAC;  
  border-bottom: 5px solid #898989;


 
}
.name:hover, .email:hover {
  background-color: #8D5E47;
  border-bottom: 5px solid #917162;

}
.name:focus, .email:focus, .message:focus{
  outline: none;
  padding:15px;
}


.message:hover{
  background-color: #8D5E47;
  border-bottom: 5px solid #917162;
  height: 150px;
}
.submit{
  color:black;
  border-radius:5px;
  padding:10px;
  background-color: #FFFFFF;  
  border: none;
  border-bottom: 5px solid #898989;  
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.submit:hover{
  -webkit-transform: translate(0, 4px);
 transform:translate(0, 4px);
  border-bottom: 2px solid #898989;  
  box-shadow: inset 0px 0px 10px 10px #898989;
  cursor: pointer;
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { 
   color: white;
}

::-moz-placeholder { 
   color: white; 
}

:-ms-input-placeholder {  
   color: white;  
}

@-webkit-keyframes bounce{
  0%{
    transform: none;
  }
  50%{
	  
    -webkit-transform: translate(0, 8px);
	  transform: translate(0, 8px);
  }
}
@-moz-keyframes bounce{
  0%{
    
  }
  50%{
    -moz-transform: translate(0, 8px);
	  transform: translate(0, 8px);
  }
}
@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }
}
@-webkit-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@-moz-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}





/*Footer*/
footer {
    color: white;
    text-align: center;
	position : absolute;
    bottom : 0;
    height : 5%;
    margin-top : 5%;
	margin-left:45%;
	
}
